.form {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.form-group {
    margin: 20px;
    width: 100%;
}

form input {
    width: 100%;
    padding: 10px 5px;
}

form label {
    font-family: Helvetica, serif;
}

.submit-button {
    background-color: dodgerblue;
    padding: 10px 5px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}

.success__img{
    width: 80px;
}

.success__text{
    font-size: 25px;
    padding: 10px;
    color: forestgreen;
}
