{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<form method="POST" action="/stepThree" class="form">
    <div class="form-group">
        <label for="account_owner">Account Owner</label>
        <input type="text" name="account_owner" id="account_owner" required/>
    </div>
    <div class="form-group">
        <label for="iban">IBAN</label>
        <input type="text" name="iban" id="iban" required/>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="submit-button"/>
    </div>
</form>

{% endblock %}
