{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<form method="POST" action="/stepTwo" class="form">
    <div class="form-group">
        <label for="street">Street</label>
        <input type="text" name="street" id="street" required/>
    </div>
    <div class="form-group">
        <label for="house_number">House Number</label>
        <input type="text" name="house_number" id="house_number" required/>
    </div>
    <div class="form-group">
        <label for="zip_code">ZipCode</label>
        <input type="text" name="zip_code" id="zip_code"required />
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city" required/>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Next" class="submit-button"/>
    </div>
</form>

{% endblock %}
