{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<form method="POST" action="/" class="form">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required/>
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" required/>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" name="telephone" id="telephone" required/>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Next" class="submit-button"/>
    </div>
</form>

{% endblock %}
