{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="success">
    <img src="{{ asset('/assets/images/registration.png') }}" alt="" class="success__img">
    <div class="success__text">
        <p>Payment Data Id: {{payment_data_id}}</p>
        Registration Successful!
    </div>
</div>

{% endblock %}
